<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SalesForce Suite">
    <listeners>
        <listener class-name="by.teachmeskills.util.testng.TestListener"/>
    </listeners>
    <test name="Tests for account">
        <classes>
            <class name="by.teachmeskills.AccountCreationTest"/>
        </classes>
    </test>
</suite>
